name: CI Cache Speedup
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Cache dependencies
        id: cache-step
        uses: actions/cache@v4
        with:
          path: .
          key: cache-e64fe29

      - name: prime-cache-e64fe29
        run: echo "Cache status is ${{ steps.cache-step.outputs.cache-hit }}"
